.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1;
}

html {
  font-size: 14px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  --primary: rgb(91, 164, 164);
  --background-grey: hsl(180, 52%, 96%);
  --filter-grey: hsl(180, 31%, 95%);
  --dark-grey: hsl(180, 8%, 52%);
  --very-dark-grey: rgb(44, 58, 58);
}

body {
  background-color: var(--background-grey);
  color: var(--very-dark-grey);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  margin: 0;
}

header {
  background-color: var(--primary);
  background-image: url("images/bg-header-desktop.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  padding: 0 2rem;
  height: 10rem;
  margin-bottom: 4rem;
}

.filter-container {
  display: none;
  background-color: white;
  box-shadow: 5px 5px 20px rgba(44, 58, 58, 0.2);
  border-radius: 0.3rem;
  margin: 0 auto;
  padding: 0.7rem 2rem;
  opacity: 0;
  transform: translateY(0px);
  position: relative;
  top: 8rem;
  max-width: 65rem;
  justify-content: space-between;
  animation: fadeIn 250ms forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Job listing */
.job-list {
  margin: 0 auto;
  padding: 0 2rem;
  max-width: fit-content;
}

.job-listing {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 0.5rem;
  display: flex;
  border-left: 0.4rem solid rgba(0, 0, 0, 0);
  justify-content: space-between;
  padding: 1.5rem 2rem 1.5rem 1.6rem;
  margin-bottom: 2rem;
  transition: all 200ms ease-in;
}

@media only screen and (max-width: 797px) {
  .job-listing {
    flex-direction: column;
  }
}

.job-listing img {
  align-self: center;
  margin-right: 1.5rem;
}

.job-listing img:hover {
  cursor: pointer;
}

.job-listing:hover {
  transform: translateY(-2.5px);
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.4);
  border-left: 0.4rem solid var(--primary);
}

.info-container {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 425px) {
  .info-container {
    flex-direction: column;
  }

  .job-listing img {
    align-self: flex-start;
    margin-bottom: 1rem;
  }
}

.info {
  min-width: 16rem;
}

.info > * {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.8rem;
  font-weight: 700;
}

.info-company * {
  margin-right: 0.5rem;
  color: var(--primary);
}

.info-position {
  font-size: 1.3rem;
}

.info-position:hover {
  cursor: pointer;
  color: var(--primary);
  transition: all 250ms ease;
}

.new {
  background-color: var(--primary);
  color: white;
  align-self: center;
  font-size: 0.8rem;
  text-transform: uppercase;
  padding: 0.5rem 0.5rem 0.4rem 0.5rem;
  border-radius: 1rem;
  width: fit-content;
}

.featured {
  background-color: var(--very-dark-grey);
  color: white;
  font-size: 0.8rem;
  text-transform: uppercase;
  padding: 0.5rem 0.5rem 0.4rem 0.5rem;
  border-radius: 1rem;
  width: fit-content;
}

.info-details * {
  color: var(--dark-grey);
  font-weight: 400;
  margin-right: 0.5rem;
}

.info-details *::after {
  content: "•";
  margin-left: 0.5rem;
}

.info-details *:last-child::after {
  content: none;
}

.filter-list {
  list-style-type: none;
  padding-inline-start: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.job-filter-properties {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-end;
  margin-left: auto;
}

@media only screen and (max-width: 797px) {
  .job-filter-properties {
    margin-top: 1rem;
    margin-left: 0;
    justify-content: flex-start;
  }
}

.filter-property,
.filter {
  align-self: center;
  background-color: var(--filter-grey);
  border-radius: 0.3rem;
  color: var(--primary);
  font-weight: 700;
  font-size: 1rem;
  width: fit-content;
  margin: 0.3rem;
}

.filter-property {
  padding: 0.5rem;
}

.filter-clear {
  align-self: center;
  color: var(--dark-grey);
  font-weight: 700;
  padding: 0.5rem;
  justify-content: flex-end;
}

.filter-clear:hover {
  cursor: pointer;
  color: var(--primary);
  text-decoration: underline;
  transition: all 250ms ease;
}

.filter {
  padding: 0.5rem 0rem 0.5rem 0.5rem;
}

.filter-property:hover {
  color: var(--filter-grey);
  cursor: pointer;
  background-color: var(--primary);
  transition: all 250ms ease;
}

.delete {
  align-self: center;
  background-color: var(--primary);
  border-radius: 0rem 0.3rem 0.3rem 0rem;
  color: white;
  margin-left: 0.5rem;
  padding: 0.5rem;
}

.delete:hover {
  cursor: pointer;
  background-color: var(--very-dark-grey);
  transition: all 250ms ease;
}

.attribution {
  font-size: 1rem;
  text-align: center;
  margin: 1rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Animations */
.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-out {
  opacity: 1;
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
